*{
    font-weight: bold;
}

#container1{
    width: 500px;
    height: 245px;
    border-style: solid;
    border-color: rgb( 204, 204, 204);
    padding-left: 50px;
}

.icon{
    width: 50px;
    height: auto;
    
}

.profile_name{
    font-weight: bold;
    margin-top: 30px;
}

.uc{
    background-color: rgb( 23, 165, 184);
    width: 500px;
    height: 40px;
    padding-left: 50px;
    padding-top: 50px;
    border-style: solid;
    border-color: rgb( 23, 165, 184);
}

.shell{
    margin: 75px;
}